<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <EnvironmentName>Prod</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://telehealthspecialtylocation-south.eisprodswase.appserviceenvironment.us</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5de95af5-207c-4d90-b555-35db3e7b7921</ProjectGuid>
    <MSDeployServiceURL>telehealthspecialtylocation-south.scm.eisprodswase.appserviceenvironment.us:443</MSDeployServiceURL>
    <DeployIisAppPath>telehealthspecialtylocation-south</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$telehealthspecialtylocation-south</UserName>
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
  <ItemGroup>
    <Content Remove="appSettings.Development.json" />
    <None Include="appSettings.Development.json" />
    <Content Remove="appSettings.Localhost.json" />
    <None Include="appSettings.Localhost.json" />
    <Content Remove="appSettings.NProd.json" />
    <None Include="appSettings.NProd.json" />
    <Content Remove="appSettings.QA.json" />
    <None Include="appSettings.QA.json" />
  </ItemGroup>
</Project>